@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 249, 248;
  --glow: 6, 182, 212;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 12, 12, 12;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  ::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 5px; /* Radius of the scrollbar thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primaryBold; /* Color of the scrollbar thumb on hover */
  }
}
